[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/tufte"]
	path = themes/tufte
	url = https://github.com/loikein/hugo-tufte.git
