{{ define "main" }}
<article
    class="justify-self-center mx-auto max-w-[58rem] px-8 mb-16">
    {{ .Content }}
    {{ range .Pages }}
        
        <h2 class="content-title">
        {{ if .IsNode }}
        <a href="{{ .Permalink }}">{{ .Title}}</a>
        {{ else }}
        <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }}&nbsp;:: Draft{{end}}</a>
        {{ end }}
        </h2>
        
        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ else }}
        {{ if .Site.Params.showSummary }}
        <p>{{ .Summary }}</p>
        {{ end }}
    {{ end }}
    
    {{ .Content }}
</article>
{{ end }}
{{ end }}