/* TailwindCSS base styles */
/* see https://tailwindcss.com/docs/functions-and-directives#tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */
@layer base {
    @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    }
    .animate-fade {
        animation: fadeIn 750ms ease-in-out;
    }
    .imghCaption {
        padding: 0;
        margin-block-start: 0.5em;
        line-height: 1.375;
        font-size: 0.75em;
        text-align: center;
    }

    main a {
        color: #2355a5;
    }
}
.aspect-ratio-container {
    position: relative;
    width: 100%; /* Adapt to the width of the parent container */
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    height: 0; /* Collapse the container's height */
}

.aspect-ratio-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}