{{ define "main" }}
  <main aria-role="main" class="justify-self-center mx-auto max-w-[58rem] px-0 mb-16 sm:px-4 md:px-0">
    <header class="homepage-header">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
      {{ end }}
    </header>
    <div class="homepage-content">
      <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
      {{ .Content }}
    </div>
    <h2>Recent Posts</h2>
    <div class="mx-auto max-w-lg">
      {{ range first 3 .Site.RegularPages }}
        <h3 class="content-title">
          {{ if .IsNode }}
          <a href="{{ .Permalink }}">{{ .Title}}</a>
          {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }}&nbsp;:: Draft{{end}}</a>
          {{ end }}
        </h3>
        {{ if .Params.image }}
        <div class="max-w-lg mx-auto">
          <img src="{{ .Permalink }}/{{ .Params.image }}" />
        </div>
        {{ end }}
        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ else }}
        {{ if .Site.Params.showSummary }}
        <p>{{ .Summary }}</p>
        {{ end }}
        {{ end }}
        <a href="{{ .Permalink }}">Read More</a>
        <hr />
      {{ end }}
      <p><a href="/posts">All Posts</a></p>
    </div>
  </main>
{{ end }}